<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.dgit.java_verification_coffee.dao.ProductDao">
	<sql id="selectSql">
		select code, name from product
	</sql>

	<select id="selectProductByCode" parameterType="String" resultType="Product">
		<include refid="selectSql" />
		where code = #{code}
	</select>

	<select id="selectProductByAll" resultType="Product">
		<include refid="selectSql" />
	</select>

	<insert id="insertProduct" parameterType="Product">
		insert into product values(#{code}, #{name})
	</insert>

	<select id="dupdateProduct" parameterType="Product" resultType="Product">
		select * from product where code = #{code}
	</select>

	<delete id="deleteProduct" parameterType="Product">
		delete from product where code = #{code}
	</delete>
</mapper>