<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.dgit.java_verification_coffee.dao.ProductSalesDao">
	<resultMap type="ProductSales" id="productSaleResult">
		<id property="no" column="no" />
		<result property="product.code" column="code" />
		<result property="price" column="price" />
		<result property="saleCnt" column="saleCnt" />
		<result property="marginRate" column="marginRate" />
		<result property="sellprice" column="sellprice" />
		<result property="tax" column="tax" />
		<result property="suprice" column="suprice" />
		<result property="marginPrice" column="marprice" />
		<result property="rank" column="rank" />
	</resultMap>

	<insert id="insertProductSale" parameterType="ProductSales">
		insert into sale(code, price, saleCnt, marginRate)
		values (#{product.code}, #{price}, #{saleCnt}, #{marginRate})
	</insert>

	<update id="updateProductSale" parameterType="ProductSales">
		update sale
		<set>
			<if test="product.code != null and product.code != ''">
				code = #{product.code},
			</if>
			<if test="price != null and price > 0">
				price = #{price},
			</if>
			<if test="saleCnt != null and saleCnt > 0">
				saleCnt = #{saleCnt},
			</if>
			<if test="marginRate != null and marginRate > 0">
				marginRate = #{marginRate}
			</if>
		</set>
		where no = #{no}
	</update>

	<delete id="deleteProductSale" parameterType="ProductSales">
		delete from sale where no = #{no}
	</delete>

	<sql id="selectSql">
		select no, code, price, saleCnt, marginRate from sale
	</sql>

	<select id="selectProductSalesByAll" resultType="ProductSales">
		<include refid="selectSql" />
	</select>

	<select id="selectProductSalesBySell" statementType="CALLABLE" resultMap="productSaleResult">
		{call proc_rank_sell()}
	</select>

	<select id="selectProductSalesByMargin" statementType="CALLABLE" resultMap="productSaleResult">
		{call proc_rank_margin()}
	</select>

	<select id="selectProductSalesByCode" parameterType="String" resultType="ProductSales">
		<include refid="selectSql" />
		where code = #{code}
	</select>
	
	<select id="getTotal" resultType="HashMap">
		{call proc_sale_total()}
	</select>
</mapper>